doctype html
html(lang='pt_BR')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Você se importa?

    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')

  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Você se importa?
              ul.nav.masthead-nav
                li.active: a(href='#') Home
                li: a(href='#quemsomos') Quem Somos
                li: a(href='#contato') Contato

          .inner.cover
            p: img(src='/images/logo-casa-dos-curumins.png')
            h1.cover-heading Você se importa com as crianças?
            p.lead
              | As atividades propostas pela Casa dos Curumins pretendem resgatar aspectos essenciais do ser humano, proporcionando condições para o desenvolvimento da consciência de responsabilidade de cada um em tornar seu mundo, interno e externo, melhor.
            p.lead
              a.btn.btn-lg.btn-default(href='http://www.casadoscurumins.org') Conheça a Casa dos Curumins

          .mastfoot
            .inner
              p um projeto &nbsp;
                a(href='http://99limits.com') 99limits

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
